defusedxml==0.4.1
Django==1.9.9
django-allauth==0.25.2
django-allauth-bootstrap==0.2
django-bootstrap-form==3.2.1
django-quicky==0.6.4
oauthlib==1.1.2
pyjade==4.0.0
python3-openid==3.0.10
requests==2.11.1
requests-oauthlib==0.6.2
six==1.10.0
