@require 'frontend'

div.allauth
  ul.socialaccount_providers
    reset-ul()
    li > a
      padding 5px 10px

      &.github
        background #232121
      &.google
        background #DD4B39
      &.windowslive
        background #00aced

