@require 'frontend'

.quake
  canvas
    position fixed
    z-index 1
    width 100vw
    height 100vh
    top 0
    left 0

  #oat
    position fixed
    height 10px
    transition .1s all linear
    font-family type-mono

    &.facing-left
      transform scaleX(-1)

