// Axis settings
@require './_colors'
@require './_typeface'

$font-stack = $type-mono
$font-size  = 16
$font-color = $primary-dark

$default-color = $celadon-blue
$highlight-color = $accent

$img-path = ''
$ligatures = false

@import 'axis/reset'
@import 'axis/utilities'
@import 'axis/gradients'
@import 'axis/images'
@import 'axis/interaction'
@import 'axis/layout'
@import 'axis/typography'
@import 'axis/code'
@import 'axis/ui'
@import 'axis/buttons'
@import 'axis/forms'
@import 'axis/tables'

transition()
  arguments = unquote('all .2s ease') unless arguments
  transition arguments
