{% extends 'ossm_base.html' %}
{% load socialaccount %}
{% block title %}{{ user.get_full_name }} | Profile{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ user.get_full_name }}</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>E-Mail(s):</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Events:</td>
            <td>{{ user.events|default:"None" }}</td>
        </tr>
        <tr>
            <td>Social Connections:</td>
            <td>{% get_providers as socialaccount_providers %}</td>
        </tr>
    </table>
{% endblock %}
