{% load account %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}OSSM{% endblock %}</title>
</head>
<body>
  <header>
    <nav>
      <a href='/'>
        <h1>convoke</h1>
      </a>
      <ul>
      {% if user.is_authenticated %}
        <li><a href='{% url "dashboard" %}'>Dashboard</a></li>
        <li>
          <a href='#'>{{ user.username }}</a>
          <ul>
            <li><a href='{% url "profile" %}'>Profile</a></li>
            <li><a href='{% url "socialaccount_connections" %}'>Account</a></li>
            <li><a href='{% url "account_logout" %}'>Logout</a></li>
          </ul>
        </li>
      {% else %}
        <li><a href='{% url "account_login" %}'>Login</a></li>
        <li><a href='{% url "account_signup" %}'>Signup</a></li>
      {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    <h2>Across the sea of space, the stars are other suns.</h2>

    <p>Astronomy compels the soul to look upward, and leads us from this world
    to another.</p>

    <p>If you could see the earth illuminated when you were in a place as dark
    as night, it would look to you more splendid than the moon. What was most
    significant about the lunar voyage was not that man set foot on the Moon
    but that they set eye on the earth.</p>

    <p>Buy why, some say, the moon? Why choose this as our goal? And they may
    as well ask why climb the highest mountain?</p>
  </main>
  <footer>
    <section>
      <div>
        <span>GitHub</span> We love open source.
      </div>
    </section>
    <section>
      <div>
        <h3>Contact us</h3>
        <p>Houston, Tranquillity Base here. The Eagle has landed.</p>
        <p>The path of a cosmonaut is not an easy, triumphant march to glory.
        You have to get to know the meaning not just of joy but also of grief,
        before being allowed in the spacecraft cabin.</p>
      </div>
    </section>
    <section>
      <small>Copyright &copy; <a href='/'>convoke.io</a>.
      Content released under CC-BY.</small>
    </section>
  </footer>
</body>
</html>
