{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  <p hidden="hidden">
    <label for="{{ form.email.id_for_label }}">Email:</label>
    <input id="id_username" minlength="1" name="username" placeholder="Username" type="text" value="default">
  </p>
  <p>
    <label for="{{ form.email.id_for_label }}">Email:</label>
    {{ form.email }}
  </p>
  <p>
    <label for="{{ form.password1.id_for_label }}">Password:</label>
    {{ form.password1 }}
  </p>
  <p>
    <label for="{{ form.password2.id_for_label }}">Password (Again):</label>
    {{ form.password2 }}
    {{ form.confirmation_key }}
  </p>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
