@keyframes bounce-left-scale
  0%, 20%, 50%, 80%, 100%
    transform translate(0, -50%) scale(1)
  40%
    transform translate(0, -50%) scale(1.5)
  60%
    transform translate(0, -50%) scale(1.5)

@keyframes bounce-left
  0%, 20%, 50%, 80%, 100%
    transform translateX(0)
  40%
    transform translateX(-30px)
  60%
    transform translateX(-15px)
