@require 'frontend'

body
  > header
    min-height 100vh
    position relative
    .hero
      height 100vh
      background url('/static/img/splash.jpg') no-repeat center center

      div
        vertically-align()

      h2
        margin 0

  > footer
    background lighten($prussian-blue, 20%)
    color $primary-text
    .info
      padding 10px 0
      img
        height 60px
