@require 'frontend'

body
  > header
    position relative
    nav
      display none
    .hero
      height 100vh
      background url('{!static!}/img/splash.jpg') no-repeat center center

      div
        vertically-align()

      h2, h1
        margin 0
        position relative
        display inline
      @media(max-width 768px)
        abbr
          top 100%
          left 0

      form
        max-width 40%
        margin-top 50px

        @media(max-width 768px)
          max-width (768px * 0.8) * 0.4

        input
          display block
          margin-bottom 10px
        button
          padding 5px 10px
      img
        max-height 40px
        max-width 100%

  > main
    display none

  > footer
    background lighten($prussian-blue, 20%)
    color $primary-text
    .contact
      display none
    .info
      padding 10px 0
      img
        height 60px
