@require 'frontend'
@require 'frontend/animate/fading_entrances/fadeInDown'
@require 'frontend/animate/fading_entrances/fadeInUp'

html
  font-size 14px
  @media (min-width 800px)
    font-size 16px

  @media (min-width 1200px)
    font-size 15px

body
  > footer
    position fixed
    bottom 0
    left 0
    right 0
    color $primary-text
    z-index 2

    .terminal
      display none

nav.root
  font-family type-fira
  box-shadow none
  transition background .2s
  background alpha($black, .5)

  .brand
    margin-top 0
    transition margin .2s

  .site-navigation
    position absolute
    z-index 1
    right 0
    top 10px

  .page-navigation
    ul
      display flex
      list-style none
      margin 12px 0
      padding 0
      z-index 20
      top 10px
      font-family type-fira

      li:not(:first-child)
        list-style-type none
        &:before
          content '*'
          transition color .2s
          margin 0 15px
          opacity .7
    a.active
      text-transform uppercase
      font-weight bold

  a
    color inherit

  .slide-navigation
    button
      position fixed
      top 50vh
      z-index 90
      padding 20px 2px
      font-size 2em
      transform translateY(-50%)
      background transparent
      color inherit
      &:hover
        background alpha($white, .2)
    button.left
      left 0
    button.right
      right 0


body > main
  overflow hidden
  margin-top 0
  canvas, svg
    position fixed
    top 0
    left 0
    z-index 0

    width 100vw
    height 100vh

slide-count = 7

.slides
  background #EBEBEB
  font-family type-sans-serif
  overflow hidden

  width slide-count * 100vw
  height 100vh
  margin-left 0

  easeInOut = cubic-bezier(.175, .685, .32, 1)
  transition all .5s, background .5s

  position relative
  display flex

  section
    width 100vw
    height 100vh
    margin 0

    display flex
    flex-grow 0
    flex-shrink 0
    position relative

    z-index 1

    article
      margin auto 30% auto 10%
      max-width 600px
      position relative
      padding 0 20px

    h1
      margin 0
      position relative
      display inline
    h2
      font-size 3rem
      font-weight 800
      text-transform uppercase
    h3
      font-weight 600
    p
      font-size 1.2rem
      font-weight 300
      line-height 1.5rem

    blockquote
      margin 10px -15px
      padding 0 15px

      font-weight 600
      line-height 1.5em
      font-size 1.2em
      position relative

      &:before
        content '‟'
        position absolute
        left -30px
        top 15px
        font-size 60px
      cite
        display block
        font-style normal
        font-size 1em
        font-weight 300

    abbr
      font-family $type-mono
      font-size .8em
      font-weight 300

      @media(max-width 768px)
        top 100%
        left 0

    img
      max-height 40px
      max-width 100%

    &.active
      article
        animation fadeInDown .5s


body
  &[slide-active='home']
    nav.root
      background transparent
      color #3A405A

      .brand
        margin-top -44px

      button.left
        display none

    .slides
      background #EBEBEB
      color #3A405A

  &[slide-active='ossome']
    .slides
      background #004E98
      color #EBEBEB

  &[slide-active='dataweave']
    .slides
      background #0E122D
      color #EBEBEB

  &[slide-active='design']
    .slides
      background #1d2b64
      color #C8CCC6

      h2
        color #F4CE4B

  &[slide-active='programming']
    .slides
      background #212412
      color #EBEBEB

      p
        font-family type-fira

        span.op
          color #EB5432
        span.kw
          color #FED43F
        span.tag
          color #8DCEE2
        span.num
          color #5EBC4E

  &[slide-active='sponsors']
    .slides
      background #212412
      color #EBEBEB
