@require 'frontend'
@require 'frontend/animate/fading_entrances/fadeInDown'
@require 'frontend/animate/attention_seekers/tada'

breakpoint = 620px
slide-count = 7

.slides
  background #EBEBEB
  font-family type-sans-serif
  overflow hidden

  width slide-count * 100vw
  margin-left 0
  flex-shrink 1
  flex-grow 0

  transition all .5s, background .5s

  position relative
  display flex
  min-height 100vh

  section
    width 100vw
    margin 0

    display flex
    flex-grow 0
    flex-shrink 1
    position relative

    z-index 1
    max-height 90vh

    @media (min-width breakpoint)
      padding-top 20vh
      padding-bottom 50px

    @media (max-width breakpoint)
      padding-top 50px
      animation bounce-left 1s 2
      animation-delay 4s
      min-height 100vh
      padding-bottom 30px

    article
      margin 0 auto
      position relative
      width 80%

      @media (min-width: 1280px)
        width 1024px

      @media (max-width breakpoint)
        padding 0
        width 80%

      h1, p, blockquote, h2, h3, h4
        max-width 400px

    h1
      margin 0
      position relative
      display inline
    h2
      font-size 3rem
      font-weight 800
      margin-top 0
      text-transform uppercase
    h3
      font-weight 600
    p
      font-size 1.2rem
      font-weight 300
      line-height 1.5rem
    q
      font-size 1.4em
      font-weight 300
      margin-bottom 10px
      display block
      &:before, &:after
        content ''

    blockquote
      margin 10px -15px
      padding 0 15px

      font-weight 600
      line-height 1.5em
      font-size 1.2em
      position relative

      &:before
        content '‟'
        position absolute
        left -.4em
        top .2em
        font-size 3em
      cite
        display block
        font-style normal
        font-size 1em
        font-weight 300

    abbr
      font-family $type-mono
      font-size .8em
      font-weight 300

      @media(max-width 768px)
        top 100%
        left 0

    img
      max-height 40px
      max-width 100%

    &.active
      max-height 300vh
      article
        animation fadeInDown .5s

    aside
      position absolute
      right 0
      top 0
      @media (max-width 800px)
        position relative
        margin-top 20px

    ul.stats
      reset-list()
      display flex
      justify-content space-around
      max-width 400px
      li
        display block
        margin-right 10px
        text-align center
        font-weight 300
        text-transform uppercase
        letter-spacing 1px
        padding 5px
        strong
          display block
          font-size 2em
          margin-bottom 5px

aside
  img.logo
    display block
    max-height 120px
    width 120px
    margin 20px 0

  ul.tags
    reset-list()
    font-family type-fira
    li:before
      content '#'
      position absolute
      left -15px
  a.action
    reset-link()
    position relative
    padding 5px 10px 5px 20px
    margin 0 20px 5px -20px
    display inline-block

    span
      transition margin .2s, padding .2s

    &:before
      content ' '
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      transform skew(-20deg, 0)
      z-index -1
      transition background .2s, left .2s

    &:hover
      span
        margin-right -5px
        padding-left 5px

    &.more:before
      background #4CBED9
    &.more:hover:before
      background #009ADA
      left 2px

    &.register:before
      background #F3CC4F
    &.register:hover:before
      background #E4930A
      left 2px

section[ref='home']
  aside
    p
      font-family type-fira
      font-weight 300
      position relative
      margin 0 5px 0 -10px
      padding 5px 20px 5px 10px
      font-size 1em
      display inline-block
      line-height 1em

      &:before
        content ' '
        background transparent
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        z-index -1
        transform skew(-20deg)

      &:after
        content attr(data-hover-text)
        position absolute
        background transparent
        padding 5px 0
        color #fff
        left 5px
        max-width 0
        top 0
        bottom 0
        border-radius 2px
        overflow hidden
        white-space nowrap
        font-family type-fira
        font-weight 300
        opacity 0
        transition padding .2s, background .2s, opacity .2s, max-width .2s
        line-height 1em
        z-index 1

      &:hover:after
        opacity 1
        max-width 400px
        padding 5px

      &.datetime
        color #fff
        &:before, &:after
          background #16324F
        &:hover:before, &:hover:after
          background #13293D

      &.location
        color #fff
        &:before, &:after
          background #007EA7
        &:hover:before, &:hover:after
          background darken(#007EA7, 20%)
      .icon
        opacity .8

      time, span
        font-family type-sans-serif

    .stack
      margin-top 20px
  h2
    margin-top 20px

  .phonetic
    font-weight 400
    font-size 1.4em
    letter-spacing 1px
    margin-left -.4em
    &:before, &:after
      content '/'
      font-size 1.2rem
      vertical-align bottom
  h3.pos
    text-transform lowercase
    font-style italic
    font-weight 400
    margin-bottom 0

  ul.defn, p.definition
    padding 0
    list-style none
    margin 5px 0
    font-size 1.2em
    font-weight 300
    li
      text-transform lowercase
    li:before
      content ':'
      margin-right 10px
      font-family type-fira
  div.description
    margin 0 0 30px

section[ref='design']
  h2
    color #F4CE4B

section[ref='programming']
  p
    font-family type-fira

    span.op
      color #EB5432
    span.kw
      color #FED43F
    span.tag
      color #8DCEE2
    span.num
      color #5EBC4E

body
  &[has-loaded='true']
    .slides section, nav.root button.right
      animation-play-state paused

  &[slide-active='home']
    nav.root, footer.root
      color #3A405A
      background transparent
      fill @color

      .brand
        margin-top -44px

      a.root-toggle
        &:before, &:after
          background #3A405A

      @media (max-width breakpoint)
        &.open
          color $white
          background alpha($prussian-blue, .98)
          a.root-toggle
            &:before, &:after
              background $white
          .brand
            margin-top 0

      button.left
        display none

    footer.root
      background alpha($white, .4)

    .slides
      background #EBEBEB
      color #3A405A

  &[slide-active='ossome']
    .slides
      background #004E98
      color #EBEBEB

  &[slide-active='dataweave']
    nav.root
      fill #EBEBEB
    .slides
      background #0E122D
      color #EBEBEB

  &[slide-active='design']
    .slides
      background #1d2b64
      color #C8CCC6

  &[slide-active='programming']
    .slides
      background #21344F
      color #EBEBEB

  &[slide-active='debugging']
    .slides
      background #212412
      color #EBEBEB

    img.logo
      animation tada 1s 1
      animation-delay 2s

  &[slide-active='sponsors']
    color = #2C458D
    nav.root, footer.root
      background alpha(color, 1)
      fill color
    .switch.right
      display none
    .slides
      background #FFFFFF
      color color
