{% extends "base.html" %}

{% block content %}
    <div>
        <h2>{{ event.name }}</h2>
        <p>
            {{ event.description }}
        </p>
        <h6>Minimum members: {{ event.max_team_size }}</h6>
        <h6>Maximum members: {{ event.max_team_size }}</h6>
        <h6>Prizes: {{ event.prize_1 }}, {{ event.prize_2 }}, {{ event.prize_3 }}</h6>
        <h6>Registered: </h6>
        {% if registered %}
            <label>{{ team.name }}</label>
        {% else %}
            <label>No</label>
            <button id="register-event">Register</button>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
