$rich-black       = #00171F
$yankees-blue     = #14213D
$prussian-blue    = #003459
$celadon-blue     = #007EA7

$deep-space       = #4C5C68
$lavender-gray    = #C5C3C6
$gainsboro        = #DCDCDD
$platinum         = #E5E5E5

$sunset-orange    = #F25F5C
$burnt-sierra     = #E76F51
$sandy-brown      = #F4A261
$arylid-yellow    = #E9C46A

$jungle-green     = #2A9D8F
$jap-indigo       = #264653

$black = #000000
$white = #FFFFFF


$accent           = $jungle-green
$base             = $yankees-blue
$primary          = $celadon-blue
$primary-dark     = $rich-black
$primary-text     = $platinum
$secondary-text   = $lavender-gray

