
init-container()
  > div, > small, > section, > nav
    margin-left auto
    margin-right auto
    position relative
    display block
    width 80%

    @media (min-width: 1280px)
      width 1024px


reset-ul()
  margin 0
  padding 0
  list-style-type none

  > li
    display inline-block
    padding 0
