@require './_colors'
@require './_mixins'
@require './_typeface'
@require './_axis'

html, body
  background $gainsboro
  color $primary-dark
  margin 0
  padding 0
  font-family $type-regular

// Apply border-box
border-box-html()

body
  display flex
  flex-direction column
  min-height 100vh

  > header
    background $jungle-green
    color $primary-text

    > section
      init-container()

    > nav
      init-container()
      background $base

    nav > div
      display flex
      align-items baseline
      justify-content space-between
      a
        reset-link()

      h1
        color $white
        margin 0

      > ul
        reset-ul()

        > li
          font-weight 300
          font-size smaller
          letter-spacing 1px
          margin-right 10px
          position relative

          &:last-child
            margin-right 0

          i.arrow.down
            icon-arrow(down, 12px, $primary-text, 2px)
            margin-bottom -2px
            display inline-block

          > a
            color $primary-text

            &:hover, &:active
              color $primary-text

          > ul
            bubble(top, right, $triangle-size: 5px)
            border 0
            border-radius 3px
            box-shadow 4px 4px 10px 1px alpha($deep-space, 0.1)
            color $deep-space
            list-style-type none
            padding 4px 0
            position absolute
            right 0
            top 25px
            z-index 100
            display none

            &.open
              display block

            a
              display block
              min-width 100px
              padding 2px 10px
              &:hover
                background $primary
                color $primary-text

  > main
    init-container()
    flex 1
    background $white

  > footer
    section
      init-container()
      &.copyright
        background $deep-space
        color $primary-text
        padding 5px 0
        a
          link($primary-text)

a
  link($celadon-blue)

form
  label
    text-transform uppercase
    font-size 14px
    font-family $type-mono
    // flex-grow value
    // display block
    margin-bottom 2px

    & + input
      display block

    & + input[type='checkbox'], & + input[type='radio']
      display inline-block

button, input[type='submit']
  button()
  click-shrink()
  outline none
  text-transform uppercase
  font-weight 300
  letter-spacing 1px

+html5-inputs()
  input($lavender-gray)
  color $rich-black
  padding 5px 10px
