{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load brunch %}
{% load revision %}

{% block root-title %}Convoke 1.0{% endblock %}

{% block hero-content %}
<section class='hero'>
  <div>
    <h1><img src='{% static "img/brand/logo-alt-2x.png" %}'><abbr>{% revision %}</abbr></h1>
    <h2></h2>
    <form id='subscription'>
        <input type='email' name='email' placeholder='Subscribe' required>
        <button type='submit'>Subscribe</button>
    </form>
  </div>
</section>
<div id='quake' class='quake'>
  <span id='oat'
      rv-coor-x='cx'
      rv-coor-y='cy'
      rv-text='emote'
      rv-class-facing-left='fl'></span>
  <div id='woot'></div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer-content %}
<section class='opensource'>
  <div>
  </div>
</section>
<section class='contact'>
  <div>
    <div class='info ducic'>
      <a href='https://ducic.ac.in' target='_blank' rel='noopener noreferrer'>
        <img src='{% static "img/brand/cic-logo-alt.png" %}'
            alt='Cluster Innovation Centre Logo'
            title='Cluster Innovation Centre'>
      </a>
    </div>
  </div>
</section>
{% endblock %}


{% block styles %}
  {{ 'landing' | style_bundle }}
  {{ 'ossm/quake' | style_bundle }}
{% endblock %}

{% block javascript %}
  {{ 'landing' | js_bundle }}
  {{ 'ossm/quake' | js_bundle }}
{% endblock %}
