{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load brunch %}
{% load revision %}

{% block root-title %}Convoke 1.0{% endblock %}

{% block hero-content %}
<section class='hero'>
  <div>
    <h1><img src='{% static "img/brand/logo-alt-2x.png" %}'><abbr>{% revision %}</abbr></h1>
    <form onsubmit='event.preventDefault(); subscribe()'>
        {% csrf_token %}
        <input id='email-input' type='email' name='email' placeholder='Subscribe'>
        <button id='email-subscribe-submit' type='submit'>Subscribe</button>
    </form>
  </div>
</section>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer-content %}
<section class='opensource'>
  <div>
  </div>
</section>
<section class='contact'>
  <div>
    <div class='info ducic'>
      <a href='https://ducic.ac.in' target='_blank' rel='noopener noreferrer'>
        <img src='{% static "img/brand/cic-logo-alt.png" %}'
            alt='Cluster Innovation Centre Logo'
            title='Cluster Innovation Centre'>
      </a>
    </div>
  </div>
</section>
{% endblock %}


{% block styles %}
  {{ 'landing' | style_bundle }}
{% endblock %}

{% block javascript %}
  {{ 'landing' | js_bundle }}
    <script type="application/javascript">
    function subscribe() {
        if (!document.getElementById('email-input').value) {
            return;
        }
        document.getElementById('email-subscribe-submit').disabled = true;
        document.getElementById('email-subscribe-submit').style.backgroundColor = 'gray';
        document.getElementById('email-input').disabled = true;
        var request = require('reqwest');
        request({
            url: '/subscribe/',
            method: 'post',
            data: {
                'email': document.getElementById('email-input').value
            },
            headers: {
                'X-CSRFToken': document.querySelector('meta[itemprop="csrf-token"]')['content']
            },
            success: function (resp) {
                if (resp == 'Already subscribed') {
                    document.getElementById('email-subscribe-submit').innerHTML = 'ALREADY SUBSCRIBED';
                }
                else {
                    document.getElementById('email-subscribe-submit').innerHTML = 'SUBSCRIBED';
                }
                document.getElementById('email-subscribe-submit').style.backgroundColor = 'green';
                setTimeout(function() {
                    // Whatever you want to do after the wait
                    document.getElementById('email-subscribe-submit').innerHTML = 'Subscribe';
                    document.getElementById('email-subscribe-submit').style.backgroundColor = '#007ea7';
                    document.getElementById('email-subscribe-submit').disabled = false;
                    document.getElementById('email-input').disabled = false;
                    document.getElementById('email-input').value = '';
                }, 1500);

            },
            error: function (err) {
                document.getElementById('email-subscribe-submit').innerHTML = 'ERROR';
                document.getElementById('email-subscribe-submit').style.backgroundColor = 'red';
                setTimeout(function() {
                    // Whatever you want to do after the wait
                    document.getElementById('email-subscribe-submit').innerHTML = 'Subscribe';
                    document.getElementById('email-subscribe-submit').style.backgroundColor = '#007ea7';
                    document.getElementById('email-subscribe-submit').disabled = false;
                    document.getElementById('email-input').disabled = false;
                    document.getElementById('email-input').value = '';
                }, 1500);
            }
        });
    }
    </script>
{% endblock %}
