{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load brunch %}
{% load revision %}

{% block root-title %}Convoke 1.0{% endblock %}

{% block header-content %}
<a href='#ossome' class='skiptocontent' tabindex='1'>Skip to Content</a>
<nav data-toggle-target class='root'>
  <div>
    <a href='#home' class='brand'>
      <h1>
        <span>convoke</span>
        <img src='{% static "img/brand/logo-alt-1x.png" %}' alt='convoke.io homepage' title='Home'><abbr>{% revision %}</abbr>
      </h1>
    </a>
    <a href='#' onClick='return false;'
      class='root-toggle'
      data-toggle='nav.root, footer.root'><span>Toggle Nav</span></a>
    <ul class='site-navigation'>
    {% if user.is_authenticated %}
      <li><a href='{% url "dashboard" %}'>Dashboard</a></li>
      <li>
        <a href='#' onClick='return false;' data-toggle='#accountactions'>{{ user.username }} <i class='icon icon-angle-down'></i></a>
        <ul data-toggle-target id='accountactions' class='secondary'>
          <li><a href='{% url "profile" %}'>Profile</a></li>
          <li><a href='{% url "socialaccount_connections" %}'>Account</a></li>
          <li><a href='{% url "account_logout" %}'>Logout</a></li>
        </ul>
      </li>
    {% else %}
      <li><a href='{% url "account_login" %}'>Login</a></li>
      <li><a href='{% url "account_signup" %}'>Signup</a></li>
    {% endif %}
    </ul>
  </div>
  <div class='page-navigation'>
    <ul>
      <h4>Events</h4>
      <li><a href='#ossome' title='Ossome'>Ossome</a></li>
      <li><a href='#dataweave' title='Dataweave'>Dataweave</a></li>
      <li><a href='#design' title='Design'>Design</a></li>
      <li><a href='#programming' title='Programming'>Programming</a></li>
      <li><a href='#debugging' title='Debugging'>Debugging</a></li>
      <li><a href='#sponsors' title='Sponsors'>Sponsors</a></li>
    </ul>
  </div>
  <div class='slide-navigation'>
    <button class='switch right' aria-label='Navigate to Next slide'>
      <svg aria-hidden='true' width="45px" height="70px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M0,5.00613538 C0,2.24132316 2.231557,0 5.0093855,0 L45,0 L45,70 L5.0093855,70 C2.24277828,70 0,67.7698803 0,64.9938646 L0,5.00613538 Z M20.6764706,45 L31,35 L20.6764706,25 L18,27.5925926 L25.6470588,35 L18,42.4074074 L20.6764706,45 Z"></path>
      </svg>
    </button>
    <button class='switch left' aria-label='Navigate to Previous slide'>
      <svg aria-hidden='true' width="45px" height="70px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M45,5.00613538 C45,2.24132316 42.768443,0 39.9906145,0 L0,0 L0,70 L39.9906145,70 C42.7572217,70 45,67.7698803 45,64.9938646 L45,5.00613538 L45,5.00613538 Z M24.3235294,45 L14,35 L24.3235294,25 L27,27.5925926 L19.3529412,35 L27,42.4074074 L24.3235294,45 L24.3235294,45 Z"></path>
      </svg>
    </button>
  </div>
</nav>
<div class='preload' id='splash'>
  <div>
    <h1>
      <img src='{% static "img/brand/logo-1x.png" %}' alt='convoke.io homepage' title='Home'>
      <abbr>{% revision %}</abbr>
    </h1>
    <p>Loading...</p>
  </div>
</div>
{% endblock %}


{% block main-content %}
<div class='slides'>
  <canvas id='backdrop'></canvas>

  <section ref='home'>
    <article>
      <h1><img src='{% static "img/brand/logo-2x.png" %}'><abbr>{% revision %}</abbr></h1>
      <aside>
        <p class='datetime' data-hover-text=':= 0x581d62a0 -> 0x581eb420'>
          <span class='icon icon-calendar'></span>
          <time datetime='2016-11-05'>November 5</time> &amp;
          <time datetime='2016-11-06'>6</time>
        </p>
        <p class='location' data-hover-text='~@ 28.69, 77.21'>
          <span class='icon icon-direction'></span>
          <span>New Delhi</span>
        </p>
        <div class='stack'>
          <img src='{% static "img/rad/icon.culture.png" %}'>
          <img src='{% static "img/rad/icon.fuzzy.processes.png" %}'>
          <img src='{% static "img/rad/icon.diversity.png" %}'>
          <img src='{% static "img/rad/icon.disruptive.png" %}'>
          <img src='{% static "img/rad/duckie.png" %}'>
        </div>
      </aside>
      <div class='description'>
        <p class='phonetic'>kənˈvəʊk</p>
        <h3 class='pos'>Verb</h3>
        <ul class='defn'>
          <li>To call together</li>
          <li>Summon to meet or assemble</li>
        </ul>
        <h3 class='pos'>Noun</h3>
        <p class='definition'>
          A technical festival celebrated by Cluster Innovation Centre for the
          love of sciences, technology and design.
        </p>
        <h3 class='pos'>Synonyms</h3>
        <ul class='defn'>
          <li>supercalifragilisticexpialidocious</li>
          <li>whimsical</li>
        </ul>
      </div>
      <img src='{% static "img/brand/cic-logo.png" %}'>
    </article>
  </section>
  <section ref='ossome'>
    <article>
      <h2>OSSOME</h2>
      <blockquote>
        Software is like sex: it's better when it's free.
        <cite>Linus Torvalds</cite>
      </blockquote>
      <p>
        Participants will be required to contribute to some open source projects
        owned or maintained by our team members hosted  on GitHub. Every issue
        (bug-fix, feature, docs, etc.) has an associated score. Score will be
        awarded at the discretion of the project maintainers. The top cumulative
        scoring participants will qualify for the on-site finals, where more
        projects and issues will be revealed.
      </p>
      <q>Prizes up to 20000 Rs to be won!</q>
      <ul class='stats'>
        <li><strong>20</strong> Fishes</li>
        <li><strong>11</strong> Dogs</li>
        <li><strong>300</strong> Kids</li>
      </ul>
      <aside>
        <a href='//github.com/clusterinnovationcentre/arcanine' class='action more'>Learn More <span class='icon icon-angle-right'></span></a>
        <a href='' class='action register'>Register <span class='icon icon-angle-right'></span></a>
        <ul class='tags'>
          <li>FOSS</li>
          <li>GitHub</li>
          <li>PullRequest</li>
        </ul>
        <img class='logo' src='{% static "img/rad/icon.culture.png" %}'>
      </aside>
    </article>
  </section>
  <section ref='dataweave'>
    <article>
      <h2>DATAWEAVE</h2>
      <blockquote>Some profound quote</blockquote>
      <p>
        If you are a master story teller at heart and a data enthusiast by passion. DATAWEAVE is THE event for you,Register online and show your data prowess in a first of its kind DATA SCIENCE competition.
      </p>
      <p>
        It is a two tier event
      </p>
      <p>
        First round is an online Machine Learning competition, you need to solve a data problem. If the accuracy of your predictions is among the top 30 participants. We will invite you for a second onsite hackathon.
      </p>
      <p>
        Second round will be a day long data science hackathon where you will work on a real world data problem and present your findings to a panel of expert judges.
      </p>
      <q>Prizes up to 2 Rs to be won!</q>
      <ul class='stats'>
        <li><strong>20</strong> Fishes</li>
        <li><strong>11</strong> Dogs</li>
        <li><strong>300</strong> Kids</li>
      </ul>
      <aside>
        <a href='//github.com/clusterinnovationcentre/datascience-event' class='action more'>Learn More <span class='icon icon-angle-right'></span></a>
        <a href='#' class='action register'>Register <span class='icon icon-angle-right'></span></a>
        <ul class='tags'>
          <li>BigData</li>
          <li>MachineLearning</li>
          <li><s>Spreadsheets</s> Databases</li>
          <li><s>PieCharts</s> ggplot</li>
        </ul>
        <img class='logo' src='{% static "img/rad/icon.fuzzy.processes.png" %}'>
      </aside>
    </article>
  </section>
  <section ref='design'>
    <article>
      <h2>Design</h2>
      <blockquote>Any product that needs a manual to work is broken.
        <cite>Elon Musk</cite>
      </blockquote>
      <h3>Here is a chance to showcase your designing skills</h3>
      <p>UI/UX designing competition. The competitors would be
      provided with a real world problem on the spot. Participants would design
      a UI/UX explaining their idea of the apps or websites working for the
      problem.
      </p>
      <p>The top three designs selected by the panelist get an opportunity for a
      paid internship with Design Innovation Centre, University of Delhi.
      </p>
      <q>Prizes up to 2 Rs to be won!</q>
      <ul class='stats'>
        <li><strong>20</strong> Fishes</li>
        <li><strong>11</strong> Dogs</li>
        <li><strong>300</strong> Kids</li>
      </ul>
      <aside>
        <a href='//ducic.ac.in/About-DIC' class='action more'>Learn More <span class='icon icon-angle-right'></span></a>
        <a href='#' class='action register'>Register <span class='icon icon-angle-right'></span></a>
        <ul class='tags'>
          <li>Programming</li>
          <li>Open Source</li>
          <li>Foo</li>
          <li>Bar</li>
        </ul>
      </aside>
    </article>
  </section>
  <section ref='programming'>
    <article>
      <h2>Programming</h2>
      <blockquote>The most disastrous thing that you can ever learn is your first programming language.
        <cite>Alan Kay</cite>
      </blockquote>
      <p>
      The <span class='tag'>prelims</span> will be conducted on
      <span class='kw'>hackerrank</span>. There will be <span class='num'>five</span>
      <span class='op'>programming challenges</span> and the teams which make
      it to top <span class='num'>30</span> individuals
      will move to the final on-site round. In the <span class='tag'>on-site</span> round qualifying
      teams will be given problems from <span class='op'>different domains</span> and they will have to solve them
      in the <span class='op'>maximum languages</span> possible.
      </p>
      <q>Prizes up to 2 Rs to be won!</q>
      <ul class='stats'>
        <li><strong>20</strong> Fishes</li>
        <li><strong>11</strong> Dogs</li>
        <li><strong>300</strong> Kids</li>
      </ul>
      <aside>
        <a href='//hackerrank.com/' class='action more'>Learn More <span class='icon icon-angle-right'></span></a>
        <a href='#' class='action register'>Register <span class='icon icon-angle-right'></span></a>
        <ul class='tags'>
          <li>LOLCODE</li>
          <li>BrainF!#@</li>
          <li>ArnoldC</li>
        </ul>
      </aside>
    </article>
  </section>
  <section ref='debugging'>
    <article>
      <h2 class='glitch' data-text='Debugging'>Debugging</h2>
      <blockquote>Debugging is twice as hard as writing a program in the first place. So if you're as clever as you can
        be when you write it, how will you ever debug it?
        <cite>Brian Kernighan</cite>
      </blockquote>
      <p>
        Solve our debugging problems over at HackerRank. Qualified ones will compete in the on-site special event
        which involves debugging code which requires special levels of debugging skills.
      </p>
      <q>Prizes up to 2 Rs to be won!</q>
      <ul class='stats'>
        <li><strong>20</strong> Fishes</li>
        <li><strong>11</strong> Dogs</li>
        <li><strong>300</strong> Kids</li>
      </ul>
      <aside>
        <a href='//hackerrank.com/' class='action more'>Learn More <span class='icon icon-angle-right'></span></a>
        <a href='#' class='action register'>Register <span class='icon icon-angle-right'></span></a>
        <ul class='tags'>
          <li>System.out.println()</li>
          <li>Heisenbug</li>
          <li>ShotgunDebugging</li>
        </ul>
        <img class='logo' src='{% static "img/rad/duckie.png" %}'>
      </aside>
    </article>
  </section>
  <section ref='sponsors'>
    <article>
      <h2>Sponsors</h2>
      <div class='title-sponsors'>
        <h4>Title Sponsors</h4>
        <a href='//mifos.org'><img src='{% static "img/brand/sponsors/mifos.jpg" %}' alt="Mifos Initiatives Logo"></img></a>
      </div>

      <div class='associate-sponsors'>
        <h4>Associate Sponsors</h4>
        <img src='{% static "img/brand/logo-1x.png" %}'></img>
      </div>

      <div class='media-sponsors'>
        <h4>Media Partners</h4>
        <img src='{% static "img/brand/logo-1x.png" %}'></img>
        <img src='{% static "img/brand/logo-1x.png" %}'></img>
        <img src='{% static "img/brand/logo-1x.png" %}'></img>
      </div>

      <div class='other-sponsors'>
        <h4>Other Sponsors</h4>
        <a href='//jetbrains.com'><img src='{% static "img/brand/sponsors/jetbrains.png" %}'></img></a>
        <a href='//hackerrank.com'><img src='{% static "img/brand/sponsors/hackerrank.png" %}'></img></a>
      </div>
    </article>
  </section>
</div>
{% endblock %}

{% block styles %}
  {{ 'landing' | style_bundle }}
{% endblock %}

{% block javascript %}
  {{ 'landing' | js_bundle }}
{% endblock %}
