{% extends 'base.html' %}

{% load account %}
{% load staticfiles %}
{% load brunch %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <section>
    <h2>Dashboard!</h2>
    <ul class='event-stack'>
    {% for event in events %}
      <li>
        <img src='https://unsplash.it/80/?random&{{ event.code }}'>
        <div>
          <h3>{{ event.name }}
            <small>{{ event.code }}</small>
          </h3>

          <p>{{ event.description }}</p>
          <button class='register' data-event='{{ event.code }}'>
            Register{% if event.registered %}ed{% endif %}
          </button>
        </div>
      </li>
    {% endfor %}
    </ul>
  </section>
{% endblock %}

{% block javascript %}
  {{ 'people' | js_bundle }}
{% endblock %}

{% block styles %}
  {{ 'people' | style_bundle }}
{% endblock %}
