{% extends 'base.html' %}
{% load socialaccount %}
{% load brunch %}
{% block title %}{{ user.username }} // profile{% endblock %}

{% block content %}
    <h2>Profile - {{ user.get_username }}</h2>
    <div class="profile-container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button id="user-name-update-button" type="submit">Update</button>
            <button id="user-name-cancel-button" type="reset" content="Cancel">Cancel</button>
        </form>
        <button id="user-name-edit-button" type="button" content="Edit Name">Edit</button>
    </div>
{% endblock %}

{% block javascript %}
    {{ 'people' | js_bundle }}
{% endblock %}
